.progress{
  position:relative;
  height:4px;
  display:block;
  width:100%;
  background-color:#acece6;
  border-radius:2px;
  margin:.5rem 0 1rem 0;
  overflow:hidden
}

  .progress .determinate{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    background-color:#26a69a;
    -webkit-transition:width .3s linear;
    transition:width .3s linear
  }
