
<app-material></app-material>

<!-- <div class="row">
  <div class="col s8 offset-s2">
      <nav class="blue-grey" style="background-color:cornflowerblue;">
          <div class="nav-wrapper" style="color: white">
            <a href="#" class="brand-logo center" style="color: white">Quiz</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li>
                <a  (click)="SignOut()">Signout</a>
              </li>
            </ul>
          </div>
        </nav>
  </div>
</div> -->

<!-- navbar navbar-expand-lg navbar-light bg-light -->

<div class="row">
  <div class="col s8 offset-s2">
    <nav class="blue-grey" style="background-color:cornflowerblue;">
      <div class="nav-wrapper" >
        <!-- <button ><a class="brand-logo center" style="color: white" (click)="SignOut()">Quiz</a></button> -->
        <a class="brand-logo center" style="color: white" (click)="SignOut()">Quiz</a>
        <ul class="hide-on-med-and-down">
          <li>
            <a class="brand-logo center" style="color: white" (click)="SignOut()">Quiz</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
