<header _ngcontent-c3 class="main-header" style="background-color: #367fa9;">

    <!-- Logo -->
    <a _ngcontent-c3 href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span _ngcontent-c3 class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span _ngcontent-c3 class="logo-lg" style="color: aliceblue"><b>Admin</b>LTE</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" style="background-color: #367fa9;">
      <!-- Sidebar toggle button-->
      <a  class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

    </nav>
  </header>
