/* @import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css);
@import url(https://cdn.bootcss.com/jvectormap/2.0.4/jquery-jvectormap.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.15/css/AdminLTE.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.15/css/skins/_all-skins.min.css); */
@import url(https://admin-lte-ng6.firebaseapp.com/styles.b541fb7aaba4581f113b.css);

.skin-blue .main-header .logo {
  background-color: #367fa9;
  color: #fff;
  border-bottom: 0 solid transparent;
}

.main-header .logo {
  transition: width .3s ease-in-out;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
}

.main-header .logo .logo-mini {
  display: none;
}

.main-header .logo .logo-lg {
  display: block;
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
  float: right;
}

.skin-blue .main-header .navbar {
  background-color: #3c8dbc!important;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0,0,0,.1);
  background-color: #367fa9;
}

.skin-blue .main-header .navbar .sidebar-toggle {
  color: #fff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

.main-header .sidebar-toggle:hover {
  color: #fff;
}


.main-header .navbar-custom-menu, .main-header .navbar-right {
  float: right;
}

a {
  text-decoration: none;
  color: #3c8dbc;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}

a:active, a:focus, a:hover {
  outline: 0;
  text-decoration: none;
  color: #72afd2;
}

b, optgroup, strong {
  font-weight: 700;
}

b {
  font-weight: bold;
}

.hold-transition .content-wrapper, .hold-transition .left-side, .hold-transition .main-footer, .hold-transition .main-header .logo, .hold-transition .main-header .navbar, .hold-transition .main-sidebar, .hold-transition .menu-open .fa-angle-left, .hold-transition .right-side {
  transition: none;
}

.navbar-custom-menu>.navbar-nav>li {
    position: static!important;
}

.skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav>.active>a, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav>li>a:hover {
  background: rgba(0,0,0,.1)!important;
  color: #f6f6f6!important;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute!important;
    right: 5%!important;
    left: auto!important;
    border: 1px solid #ddd!important;
    background: #fff!important;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
  position: absolute!important;
  right: 0!important;
  left: auto!important;
}




