<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <body>
  <h2>Weekly Coding Challenge #1: Sign in/up Form</h2>
  <div class="container" id="container">
    <!-- <div class="form-container sign-up-container">
      <form action="#">
        <h1>Create Account</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button (click)="signUp()">Sign Up</button>
      </form>
    </div> -->
    <div class="form-container sign-in-container">
      <form #registerForm="ngForm" (ngSubmit)="OnSubmit(Name.value, Email.value)">
        <h1>Sign in</h1>
        <div class="social-container">
          <!-- <a><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="svg-inline--fa fa-facebook-f fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg>
          </a> -->
          <a href="#" class="pixels" style><i class=""></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          <!-- fab fa-facebook-f -->
        </div>
        <span>or use your account</span>
        <input type="text" name="Name" #Name ngModel required placeholder="Name" />
        <input type="email" name="Email" #Email ngModel required [pattern]="emailPatern" placeholder="Email" />
        <a href="#">Forgot your password?</a>
        <button type="submit" [disabled]="!registerForm.valid">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <!-- <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn" (click)="signIn()">Sign In</button>
        </div> -->
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp" [routerLink]="['/register']">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>
      Created with <i class="fa fa-heart"></i> by
      <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
      - Read how I created this and how you can join the challenge
      <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
    </p>
  </footer>
 </body>
